<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Bosses - ZeldaSite</title>
</head>
<body>
<header th:insert="../fragments/menubar.html :: menu_bosses"></header>

<h2>Bosses:</h2>

<table>
    <tr>
        <th><b>Name</b></th>
        <th><b>Seen in</b></th>
        <th><b></b></th>
    </tr>
    <tr th:each="boss:${bosses}">
        <th th:text="${boss.getName()}">Item name</th>
        <th><span th:text="${boss.getSeenin()}"></span></th>
        <th><a th:href="@{/bosses/{bossId}(bossId=${boss.getId()})}">More info</a></th>
    </tr>
</table>

<h2>Add new boss:</h2>

<form id="bossform" action="/bosses" method="post">
    Name:<br>
    <input type="text" name="name"><br>

    Description:<br>
    <input type="text" name="description"><br>

    Game:<br>
    <select name="seenin" form="bossform">
        <option th:each="game:${games}" th:value="${game}" th:text="${game}"></option>
    </select>

    <input type="submit" value="Add">
</form>


<header th:insert="../fragments/footer.html :: footer"></header>

</body>
</html>