<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Boss - ZeldaSite</title>
</head>
<body id="bosbody">
<div class="bgBoss">
    <header th:insert="../fragments/menubar.html :: menu_bosses"></header>
<img>

    <section class="imageSection">
        <img id="objectimg" th:src="${boss.getImage()}"/>
    </section>

    <section id="objectView" class="whiteT">
        <h3 th:text="${boss.getName()}"></h3>
        <p th:text="${boss.getDescription()}"></p>
    </section>
</div>
<header th:insert="../fragments/footer.html :: footer"></header>
</body>
</html>