<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Items - ZeldaSite</title>
</head>
<body>
<header th:insert="../fragments/menubar.html :: menu_items"></header>

<h2>Items</h2>

<table>
<tr th:each="item:${items}">
    <th th:text="${item.getName()}">Item name</th>
    <th>Type: <span th:text="${item.getType()}"></span></th>
    <th><a th:href="@{/items/{itemId}(itemId=${item.getId()})}">Go to itempage</a></th>
</tr>
</table>

<h2>Add new item:</h2>

<form id="itemform" action="/items" method="post">
    Name:<br>
    <input type="text" name="name"><br>

    Description:<br>
    <input type="text" name="description"><br>

    Type:<br>
    <select name="type" form="itemform">
        <option th:each="type:${types}" th:value="${type}" th:text="${type}"></option>
    </select>

    <input type="submit" value="Add">
</form>

<header th:insert="../fragments/footer.html :: footer"></header>
</body>
</html>