<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Items - ZeldaSite</title>
</head>
<body id="itemsbody">
<div class="bgItems">
    <header th:insert="../fragments/menubar.html :: menu_items"></header>
    <img>

    <div id="OverView">
        <div class="whiteT">
            <h2>Add new item:</h2>
            <form id="itemform" action="/items" method="post">
                Name:<br>
                <input type="text" name="name"><br>

                Description:<br>
                <input type="text" name="description"><br>

                Type:<br>
                <select name="type" form="itemform">
                    <option th:each="type:${types}" th:value="${type}" th:text="${type}"></option>
                </select>

                <input type="submit" value="Add">
            </form>
        </div>


        <h2 class="whiteT" id="6%left">Items</h2>
        <table>
            <tr>
                <th><b>Name</b></th>
                <th><b>Type</b></th>
                <th><b></b></th>
            </tr>
            <tr th:each="item:${items}">
                <th th:text="${item.getName()}">Item name</th>
                <th><span th:text="${item.getType()}"></span></th>
                <th><a th:href="@{/items/{itemId}(itemId=${item.getId()})}">More info</a></th>
            </tr>
        </table>
    </div>


    <header th:insert="../fragments/footer.html :: footer"></header>
</div>
</body>
</html>