<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Item - ZeldaSite</title>
</head>
<body id="itembody">
<div class="bgItem">
    <header th:insert="../fragments/menubar.html :: menu_items"></header>
    <img>
    <section class="imageSection">
        <img id="objectimg" th:src="${item.getImage()}"/>
    </section>
    <section id="objectView">
        <h3 th:text="${item.getName()}"></h3>
        <p th:text="${item.getDescription()}"></p>
    </section>
    <header th:insert="../fragments/footer.html :: footer"></header>
</div>
</body>
</html>