<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Login - ZeldaSite</title>
</head>

<body>
<div class="bgLogin">
    <header th:insert="../fragments/menubar.html :: menu"></header>

    <img>
    <div id="centered">
        <h2>Login:</h2>

        <form id="loginform" action="/login" method="post">
            Username:<br>
            <input type="text" name="username"><br>

            Password:<br>
            <input type="password" name="password"><br>

            <input type="submit" value="Login">
        </form>
        <p>No Account? Click <a href="/register">here</a> to create one.</p>
    </div>
</div>
<header th:insert="../fragments/footer.html :: footer"></header>


</body>
</html>